/**
 * Main CSS
 */

html {
    height: 100%;
}
body {
    color: #666;
    background-color: #aaa;
    font-family: sans-serif;
    height: 100%;
    margin: 0;
}

.nested-menu {
    background-color: white;
    border-bottom: 1px solid black;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.nested-menu > li {
    display: inline-block;
    position: relative;
}
/**
 * Uncomment for hover dropdown capability
 */
/*.menu li:hover ul {
    display: block;
}*/
.nested-menu a {
    display: block;
    color: inherit;
    padding: 12px 24px;
    text-decoration: none;
}
.nested-menu li:hover {
    background-color: #ccc;
    -webkit-transition: background-color .5s ease;
    -moz-transition: background-color    .5s ease;
    -ms-transition: background-color     .5s ease;
    -o-transition: background-color      .5s ease;
    transition: background-color         .5s ease;
}
.nested-menu ul {
    border-color: black;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    display: none;
    list-style: none;
    min-width: 160px;
    padding: 0;
    position: absolute;
}
.nested-menu ul li {
    background-color: white;
}
